.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
}
.left {
	padding: 72px 48px;
	width: 380px;
	background-color: var(--main-blue);
}
.right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin: 20px 20px 20px 0;
}
.close {
	border: 2px solid var(--main-black);
	background-color: var(--main-white);
	width: 88px;
	height: 52px;
}
.qrContainer {
	color: var(--main-white);
	display: flex;
	align-items: center;
	gap: 10px;
}
.qrText {
	max-width: 194px;
	text-align: right;
}
